# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [1]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [2]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

In [13]:
df.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       11127 non-null  object
 1   Nombre del país                      11127 non-null  object
 2   Región                               11127 non-null  object
 3   Año                                  11127 non-null  int64
 4   CO2 (kt)                             9032 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 521.7+ KB

In [11]:
df.isnull().sum() #verificar si hay valores nulos

Código de país                         0
Nombre del país                        0
Región                                 0
Año                                    0
CO2 (kt)                               0
CO2 per cápita (toneladas métricas)    0
dtype: int64

In [10]:
df = df.dropna() #eliminar valores nulos

In [12]:
df.duplicated().sum() #Verificar si hay duplicados

0

In [25]:
df['Clave_Hash'] = df['Código de país'].apply(hash_function) #aplicamos la funcion a cada fila

In [26]:
df.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910

In [31]:
row = df.iloc[500]

print(hash_function(row['Código de país']))

862

In [32]:
row

Código de país                                         BDI
Nombre del país                                    Burundi
Región                                 África subsahariana
Año                                                   1963
CO2 (kt)                                            47,671
CO2 per cápita (toneladas métricas)               0.016155
Clave_Hash                                             862
Name: 679, dtype: object

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [33]:
df2 = df

In [34]:
df2.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910

In [43]:
column_names = ["Clave_Hash", "Código de país","Nombre del país","Región"] #creo una lista con las columnas que voy a evaluar y trasladar

unicos = df2[list(column_names)].drop_duplicates() #descargo los valores duplicados en un nuevo DF

In [44]:
unicos

,Clave_Hash,Código de país,Nombre del país,Región
26,910,ABW,Aruba,América Latina y Caribe
87,870,AND,Andorra,Europa y Asia Central
104,858,AFG,Afganistán,Sur de Asia
156,893,AGO,Angola,África subsahariana
208,856,ALB,Albania,Europa y Asia Central
...,...,...,...,...
10867,927,YEM,Yemen,Oriente Medio y Norte de África
10919,889,ZAF,Sudáfrica,África subsahariana
10971,877,COD,Congo (República Democrática),África subsahariana
11027,909,ZMB,Zambia,África subsahariana
11079,951,ZWE,Zimbabue,África subsahariana

In [46]:
column_names_del = ["Código de país","Nombre del país","Región"]

unicos.drop(list(column_names_del),axis=1, inplace=True)

In [48]:
unicos.describe()

        Clave_Hash
count   199.000000
mean    919.462312
std      37.471974
min     835.000000
25%     891.000000
50%     917.000000
75%     945.000000
max    1021.000000